* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    --main-color: #0059c1;
    /* основной цвет страницы */
}

@font-face {
    font-family: Manrope;
    src: url("../../fonts/Manrope/static/Manrope-Regular.ttf");
}

html,
body {
    width: 100%;
}

#root {
    width: 100%;
    padding: 29px 20px;
    font-family: Manrope;
    /* overflow-x: hidden; */
}

/* Меню */

.menu__container {
    width: 100%;
    height: 419px;

    border-radius: 20px;
    background-color: var(--main-color);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.24fr 0.77fr;
    padding: 24px;

    color: #ffffff;

    margin: 0;
}

.menu__logo {
    grid-row: 1;
    grid-column: 1;
}

.menu__logo__img {
    width: 100px;
    height: 36px;
}

.menu__close {
    grid-row: 1;
    grid-column: 2;

    padding-top: 10px;
    justify-self: end;
}

.menu__close__img {
    width: 21px;
    height: 21px;
}

.menu__list {
    grid-row: 2;
    grid-column: 1;

    padding-top: 20px;
}

.menu__list__item {
    padding: 12px 0;
}

.menu__list__item a {
    text-decoration: none;
    color: #ffffff;
    font-size: 26px;
}

.menu__contacts {
    grid-row: 2;
    grid-column: 2;

    font-size: 16px;
    text-align: right;

    padding-top: 40px;
}

.menu__contacts__item {
    margin-bottom: 24px;
}

.menu__intro {
    font-size: 18px;

    padding: 24px 0;
}

.menu__buttons {
    margin-bottom: 30px;
}

.menu__button {
    width: 100%;
    height: 60px;
    font-size: 18px;

    padding: 16px 52px 16px 52px;

    border-radius: 40px;
    border: 1px solid #000000;

    margin-bottom: 20px;
    cursor: pointer;
    background-color: #ffffff;
}

.view__projects a {
    color: #000000;
    text-decoration: none;
  }
  
  .view__projects {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
  }
  
  .view__projects:hover {
    background-color: #000000;
    color: #ffffff;
  }
  
  .view__projects:hover a {
    color: #ffffff;
  }

  .submit__application {
background-color: #000000;
color: #ffffff;
  }
  
  .submit__application:hover {
    background-color: #ffffff;
  
    color: #000000;
  
    border: 1px solid #000000;
  }

/* Форма обратной связи */
.popup {
    position: fixed;

    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.6);

    z-index: 10;
}

.hidden {
    display: none;
}

.popup__container {
    background-color: #ffffff;

    width: 60%;
    height: 70%;

    padding: 5%;

    position: absolute;
}

.popup__close {
    position: absolute;
    top: -25px;
    right: -25px;

    width: 20px;
    height: 20px;

    background-image: url("../../images/form-x.svg");
    background-repeat: no-repeat;
    background-color: initial;

    border: none;

    cursor: pointer;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;

    margin: -1px;
    padding: 0;

    border: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}

.popup__header {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;

    position: relative;

    padding: 0 175px 32px 0;
}

.popup-header::after {
    content: "";

    display: block;

    position: absolute;

    width: 20%;
    left: 40%;
    top: 130%;

    height: 3px;

    background-color: #e1d9bd;
}

.popup__content__item {
    width: 100%;

    padding: 15px 35px;

    border-radius: 40px;
    border: 1px solid;

    margin-bottom: 40px;

    font-size: 20px;
    font-weight: 300;
}

.popup__button {
    width: 100%;

    padding: 15px;

    background-color: var(--main-color);

    border-radius: 40px;

    border: 1px solid var(--main-color);

    color: #ffffff;

    margin: 0;

    font-size: 20px;
    font-weight: 500;

    cursor: pointer;
}

.popup__button:hover {
    color: var(--main-color);

    background-color: #ffffff;

    border: 1px solid var(--main-color);
}